<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="vendor/autoload.php">
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>

  <logging>
    <!-- log
       type="coverage-html"
       target="builds/coverage/"
       charset="UTF-8"
       highlight="true"/ -->
    <log type="coverage-clover" target="coverage.clover"/>
  </logging>

  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <testsuite name="spindle/flowr TestSuite">
    <directory>tests/</directory>
  </testsuite>
</phpunit>
